body{
  background-color: wheat;
}
h1{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.r1, .r2, .r3, .r4, .r5{
  width: 500px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  background: white;
  margin-top: 20px;
  margin-left: 50%;
  transform: translateX(-250px);
  background-color: wheat;
}
.c1, .c2, .c3, .c4, .c5{
    border: 1px solid black;
    border-radius: 30%;
    margin: 5px;
    width: 88px;
    height: 80%;
    background: white;
    text-align: center;
    font-size: 30px;
}
.keyboard{
    margin-top: 100px;
}
.keyboard-row, .respond{
    display: flex;
    justify-content: center;
}

input{
    background-color: turquoise;
    width: 60px;
    height: 40px;
}